<div class="container">
    <carousel [isAnimated]="true">
        <slide>
          <img src="assets/img/portada.jpg" alt="first slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/img/MIKE_Mesadetrabajo1.jpg" alt="second slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/img/slide2.jpg" alt="third slide" style="display: block; width: 100%;">
        </slide>
      </carousel>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <alert type="success">
        <strong>Gracia:</strong> Es un favor que témenos de parte de nuestro Señor y Salvador Jesucristo, que con su mucha misericordia nos a da día a día,<a href="#" class="alert-link"> Que la gracia del Señor Jesús sea con todos. Amén.
          Apocalipsis 22:21 
          </a>.
      </alert>
      <br>
      <alert type="warning">
        <strong>Fe</strong> Es la base fundamental del cristiano pues con ella podemos creen y estar seguro de lo que él desea para nuestra vida por medio de su hijo Jesús. <a href="#" class="alert-link">
          Pero sin fe es imposible agradar a Dios; porque es necesario que el que se acerca a Dios crea que le hay, y que es galardonador de los que le buscan. Hebreos 11-6
          </a>.
      </alert>
      <br>
      <alert type="danger">
        <strong>Misión</strong>  Somos una iglesia con deseos de poder llevar el evangelio a todas las edades, compartiendo el plan, la salvación de nuestro Señor y Salvador Jesucristo. <a href="#" class="alert-link"> Ellos dijeron: Cree en el Señor Jesucristo, y serás salvo, tú y tu casa.
          Hechos 16:31</a>
      </alert>
    </div>

    <div class="col-md-4">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas accusantium itaque dolores sapiente explicabo magni harum vero tempore saepe similique deleniti porro atque aliquam, dolor distinctio sit! Quasi, placeat quae.
    </div>
  </div>
</div>
