<!-- header -->
<div class="header">
    <div class="header-top">
        <div class="container">
            <div class="head-left">
                <ul class="number">
                    <li><span>Próximo servicio: Miercoles, 22 de abril de 2020. 10:00 a.m.</span></li>					
                </ul>
            </div>
            <div class="head-right">
                <ul class="number">
                    <!--<li><a href="#"> Necesita Oración </a></li>|
                    <li><a href="#"> Estudiar </a></li>|
                    <li><a href="#"> Donaciones en línea </a></li>|
                    <li><a href="#"> Grupos de familiares </a></li>|
                    <li><a href="#"> Ingresar </a></li>-->
                        <div class="clearfix"> </div>						
                </ul>
                <b>* Sitio en construcción *</b>
            </div>
                <div class="clearfix"> </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="logo">
                <a href="index.html"><img src="assets/img/logo.png" class="img-responsive" alt="" /></a>
            </div>
            <div class="bottom-left">
                <!--<a href="register.html">¿NUEVO AQUÍ? INVOLUCRARSE</a>-->
            </div>
                <div class="clearfix"> </div>
        </div>
    </div>
                    
            <div class="container">
            <div class="head-na">
                <div class="head-nav">
                <span class="menu"> </span> 
                    <ul class="cl-effect-15">
                        <li class="active"><a href="index.html">INCIO</a></li><!--<label>|</label>
                            <li><a href="ourmission.html" data-hover="NUESTRA MISIÓN">NUESTRA MISIÓN</a></li><label>|</label>
                            <li><a href="services.html" data-hover="SERVICIOS">SERVICIOS</a></li><label>|</label>
                            <li><a href="404.html" data-hover="ENSEÑANZAS">ENSEÑANZAS</a></li><label>|</label>
                            <li><a href="photos.html" data-hover="EVENTOS">EVENTOS</a></li><label>|</label>
                            <li><a href="contact.html" data-hover="CONTACTO">CONTACTO</a></li>-->
                                <div class="clearfix"> </div>
                        </ul>
                </div>
                <!-- script-for-nav -->
                <script>
                    $( "span.menu" ).click(function() {
                      $( ".head-nav ul" ).slideToggle(300, function() {
                        // Animation complete.
                      });
                    });
                </script>
            <!-- script-for-nav --> 
            </div>
            </div>
            
</div>
<!-- header -->
<br><br>
